<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IJCDecauxAPI">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IOpenStreetMapAPI">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/ProxyService/JCDecaux"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IJCDecauxAPI"
          contract="ProxyServices.IJCDecauxAPI" name="WSHttpBinding_IJCDecauxAPI" />
      <endpoint address="http://localhost:8088/ProxyService/OpenStreetMap"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOpenStreetMapAPI"
          contract="ProxyServices.IOpenStreetMapAPI" name="WSHttpBinding_IOpenStreetMapAPI" />
    </client>
  </system.serviceModel>
</configuration>